.planet-container{
    display: flex;
    
    width: 900px;
    margin: 30px 15% 0 15%;
    height: auto;
    background-color: #1a1919; 
    color: #fff;
    padding: 30px 30px 30px 30px;
    
    
    .planet-img{
        img{
        display: block;
        width: 400px;
        height: 300px;
    }
}
    
    .planet-info{
        display: block;
        width: 400px;
        padding: 0 0 0 80px;
        font-family: "Montserrat";
    }
}
